<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    {% block base_temp %}
    {% endblock %}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
    <script>
    $(document).ready(function(){
             $("#files").change(function(){
                   var length=this.files.length;
                        if(!length){
                          return false;
                         }
                        changeBackground(this);
                });
       });
   function prepHref(link) {
    var myImage = document.getElementById('finalImg');
    link.href = myImage.src;
    link.download = "image.png"; // New image name
}
    function transHref(link) {
     var myImage1 = document.getElementById('transIMG');
     link.href = myImage1.src;
     link.download = "image1.png"; // New image name
}

    $("#username").focusout(function (){   //focusout - changing from one field to another field
      var name = $("#username").val();
      console.log(name)
      if(name.length < 4)
      {
        $("#error_username").html("<b>username</b> length should be more than 4");
        $(".btn").prop('disabled', true);
      }
      else
      {
        $("#error_username").html(" ");
        $(".btn").prop('disabled', false);
      }
      })

    $("#pwd").focusout(function(){
      var pwd = $("#pwd").val();
      var number = /([0-9])/;
      var alphabets = /([a-zA-Z])/;
      var special_characters = /([~,!,@,#,$,%,^,&,*,-,_,+,=,?,>,<])/;

      if(pwd == ""){
        $(".btn").prop('disabled', true);
        $("#pwd_strength").html("password field can't be empty");
        }
      else{
        $("#pwd_strength").html("");
        $(".btn").prop('disabled', false);
      }
    })

      $("#userphone").focusout(function(){
        var phone = $("#userphone").val();
        if(phone.length != 10 || phone.length == 0)
        {
          $("#phonecheck").html("phone number should have 10 digits");
        }
        else
        {
          $("#phonecheck").html("");
        }
      })


    $("#rpwd").keyup(function(){
        var pwd = $("#pwd").val();
        var rpwd = $("#rpwd").val();
        if(rpwd == ""){
          $("#checkpwd").html("enter the password again");
          $(".btn").prop('disabled', true);
        }
        else if(pwd != rpwd){
          $("#checkpwd").html("password and re-enter password doesn't match");
          $(".btn").prop('disabled', true);
        }
        else
        {
          $("#checkpwd").html("");
          $(".btn").prop('disabled', false);
        }
      })


      // Creating the function
      function changeBackground(img){
            var file = img.files[0];
            var imagefile = file.type;
            var match= ["image/jpeg","image/png","image/jpg"];
                  if(!((imagefile==match[0]) || (imagefile==match[1]) || (imagefile==match[2]))){
                        alert("Invalid File Extension");
                  }else{
                        var reader = new FileReader();
                        reader.onload = imageIsLoaded;
                        reader.readAsDataURL(img.files[0]);
                  }
            function imageIsLoaded(e) {
                  $('#a').css({ 'background-image': "url(" + e.target.result + ")" });
                  document.getElementById('a').style.backgroundRepeat="no-repeat";
                  //document.getElementById('a').style.backgroundAttachment="fixed";
                  document.getElementById('a').style.backgroundSize="cover";

                  }
            }

    function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#a')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        function readURL_bg(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#bg_img')
                            .attr('src', e.target.result);
                    };

                    reader.readAsDataURL(input.files[0]);
                }
            }
    </script>
  </body>
</html>
